<header class="container mx-auto">
  <nav class="flex items-center justify-between p-4 bg-gray-800/60 rounded-xl text-white my-4">
    <h3>
      <a class="bg-radial-[at_50%_75%] from-sky-200 via-blue-400 to-indigo-900 to-90% bg-clip-text font-bold text-transparent text-2xl"
        href="/">EJS Is
        Fun</a>
    </h3>
    <ul class="flex gap-4">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </nav>
</header>
